.footer-container {
  // Guide to make it stick to the bottom:
  // https://css-tricks.com/couple-takes-sticky-footer/

  display: flex;
  justify-content: center;
  position: sticky;
  top:100%;
  bottom:0;
  padding: 20px 12vw;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  font-size: 15px;
  // background-color: $main-color;
  background-color: $logo-blue;
  width: 100%;

  footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
  }
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  a {
    color: white;
    text-decoration: none;

    &:hover{
      color: lightgray;
      transition: 0.2s;
    }
  }

  .dropup {
  position: relative;
  display: inline-block;
  }
  .dropup:hover .lang-popup {
  display: block;
  }
  i {
     color: white;
     font-size: 25px;
     cursor: pointer;

    &:hover{
      color: lightgray;
      transition: 0.2s;
    }
  }

  .lang-popup{
    display:none;
    position: absolute;
    background-color: whitesmoke;
    color: $logo-blue;
    margin-top: -225.8px;
    box-sizing: border-box;

    li{
      padding: 5px 10px;
      &:hover{
        background-color: $logo-blue;
        color: white;
        transition: 0.2s;
        cursor: pointer;
      }
    }
    
  }
 
}

#footer-copyright {
  margin-top: 35px;
  font-weight: bold;
}