.footer-container {
  // Guide to make it stick to the bottom:
  // https://css-tricks.com/couple-takes-sticky-footer/

  display: flex;
  justify-content: center;
  position: sticky;
  top:100%;
  bottom:0;
  padding: 20px 2vw;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  font-size: 15px;
  // background-color: $main-color;
  background-color: $logo-blue;
  width: 100%;

  footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
  }
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  a {
    color: white;
    text-decoration: none;

    &:hover{
      color: lightgray;
      transition: 0.2s;
    }
  }

  .lang-links{
    display: flex;
    justify-content:center;
    width: 300px;
    flex-wrap: wrap;

    li {
      cursor: pointer;
    }

    li:first-of-type {
      cursor: auto;
      &:hover {
      color: white;
      }
    }

  }
}

#footer-copyright {
  margin-top: 35px;
  font-weight: bold;
}