.get-involved-cont{
    padding: 0px 15%;
    display: flex;
    align-items: center;
    flex-direction: column;


    h1{
        text-transform: uppercase;
        font-family: 'Fjalla One', sans-serif;
        font-weight: bolder;
        text-align: center;
        font-size: 27px;
        margin-bottom: 20px;
        padding-top: 20px;
        letter-spacing: 1.5px;

    }

    span{
        line-height: 1.9;
        text-align: center;
    }
    
    .form-btn{
        width: 120px;
        padding:7px;
        border: solid 1px $poe-blue;
        text-transform: uppercase;
        margin-top: 20px;
        cursor: pointer;
        color: $poe-blue;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.5px;
        margin-bottom: 70px;
    
    }

}

.get-involved-cont{
    padding: 0px 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}