// Admin login page styling

.login-form-container {
  border: 1px solid $poe-blue;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 2px rgba(51, 51, 51, 0.1);
  width: 30%;
  min-width: 232px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family:'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: $poe-blue;

  h2 {
    font-size: 30px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-container {
      display: flex;
      flex-direction: column;

      .input-label {
        font-size: 17px;
        margin-top: 15px;

      }

      .form-input {
        margin-top: 5px;
        border: 1px solid $poe-lblue;
        border-radius: 5px;
        padding: 5px 3px;
        outline: none;
        font-size: 15px;
        font-family:'Helvetica Neue', sans-serif;
        background:#F8F5F5;
        padding-left: 8px;
        font-weight: bold;

        &::placeholder{
          font-weight: normal;
          font-family:'Helvetica Neue', sans-serif;

        }

        &:focus{
          box-shadow: 0px 4px 3px 0px rgba(51, 51, 51, .2);
        }
      }

      .login-form-error {
        margin-top: 5px;
        color: red;
      }
    }

    .form-submit-btn {
      font-family:'Helvetica Neue', sans-serif;
      font-weight:600;
      color:white;
      font-size: 17px;
      word-wrap: wrap;
      height:30px;
      margin-top: 15px;
      padding:22px;

      border-radius:40px; 
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $logo-blue;

      outline:none;
      border:0px;
    }

    .form-submit-btn:hover {
      cursor:pointer;
      color:$logo-blue;
      background-color: white;
    }
  }
}

.login-disclaimer {
  display: flex;
  width: fit-content;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
}


