#navbar-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    
    
}
.nav-link>i {
    margin-left: 5px;
}
.nav-link:hover{
    color: $poe-blue;
    transition: 0.4s;
}
.nav-link:active{
    color: black;
}

.underline{
border-bottom: solid $poe-blue 1px;
}