// Splash page styling

#poelogo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}
#poelogo > img:first-of-type{
    width: 300px;
    height:300px;
    margin-right: 30px;

}
#poelogo > img:last-of-type{

    height:250px;
}

#logo-text{
    color: $logo-blue;
    font-size: 125px;
    font-family: 'Farro', sans-serif;
}